img {
  max-width: 100%;
}

.card {
  width: 320px;
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 4px;
  background-color: #1a83b3;
  text-align: center;
  color: white;
  overflow: hidden;
}

html,
body {
  font-family: Arial, sans-serif;
}

p {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

span {
  text-align: right;
  padding: 8px;
  color: #888;
}

footer {
  /* display: grid;
  grid-template-columns: 50px 50px auto;
  grid-template-rows: 2.3em;
  padding: 1.2em 1.4em 1em 1em;
*/
}
